*/--pycache--
*.pyc
*.pyo
*.pyd

*====================
# Android Studio / IntelliJ IDEA
# ====================
.idea/  

# ====================
# Gradle

.gradle
/build
*/build
    
    

*.lock


*.bin

pc/airmouse-go/.gocache/*
pc/airmouse-go/.gomodcache/*

.md
pc/airmouse_go_new/.gomodcache/*
pc/airmouse_go_new/.gocache/*
.gocache/*
.gomodcache/*