*/--pycache--
*.pyc
*.pyo
*.pyd

*====================
# Android Studio / IntelliJ IDEA
# ====================
.idea/  

# ====================
# Gradle

.gradle
/build
*/build
    
    

*.lock


*.bin

Files/ComputerAssignments/CA2/code/pc/airmouse-go/.gocache
Files/ComputerAssignments/CA2/code/pc/airmouse-go/.gomodcache

